{% extends "pics/base.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pics/css/image_list.css' %}" />
<script type="text/javascript" src="{% static 'pics/js/image_list.js' %}"></script>
{% endblock %}
{% block content %}
<h1>{{ year }}</h1>
<h2>{{ album }}</h2>
<p><a href="{% url 'album_update' year=year.slug album=album.slug %}">Edit...</a></p>
<p><input type="file" multiple="multiple" onchange="handle_files(this.files)" /></p>
<ul class="imagegrid">
{% for image in image_list %}
<li data-pk="{{ image.pk }}">
<img src="{{ image.get_image_url }}" />
</li>
{% endfor %}
</ul>
{% endblock %}
