{% extends "pics/base.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pics/css/image_list.css' %}" />
<script type="text/javascript" src="{% static 'pics/js/image_list.js' %}"></script>
{% endblock %}
{% block content %}
<h1>{{ year }}</h1>
<h2>{{ album }}</h2>
<p><a href="{% url 'album_update' year=year.slug album=album.slug %}">Edit...</a></p>
<form action="upload/" method="post" enctype="multipart/form-data" onsubmit="handle_files(this.filesField)">
{% csrf_token %}
<p>Upload more images: <input type="file" name="filesField" multiple="multiple" onchange="handle_files(this)" /></p>
<p id="upload_progress"></p>
</form>
<ul class="imagegrid">
{% for image in image_list %}
<li data-pk="{{ image.pk }}">
<img src="{{ image.get_thumbnail_url }}" />
</li>
{% endfor %}
</ul>
{% endblock %}
