{% extends "pics/base.html" %}
{% block head %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<style type="text/css">
.imagegrid {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.imagegrid li {
    margin: 0 0 8px 8px;
    padding: 0;
    list-style-type: none;
    width: 198px;
    height: 198px;
    float: left;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
}
.imagegrid .placeholder {
    background-color: white;
    border: 3px dashed #cccccc;
    width: 194px;
    height: 194px;
}
.imagegrid img {
    max-width: 200px;
    max-height: 200px;
    margin: -1px;
}
#dropupload {
    border: 3px dashed #cccccc;
    line-height: 100px;
    height: 100px;
    padding: 0 50px;
    margin: 1em 0;
}
</style>
<script type="text/javascript">
///////////////////////////////////////////////////////////////////////////////
// The following is from
// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax

function getCookie(name) {
  if (!document.cookie || document.cookie == '') return null;
  var cookies = document.cookie.split(';');
  for (var i = 0; i < cookies.length; i++) {
    var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) == (name + '=')) {
      return decodeURIComponent(cookie.substring(name.length + 1));
    }
  }
  return null;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
  // test that a given url is a same-origin URL
  // url could be relative or scheme relative or absolute
  var host = document.location.host; // host + port
  var protocol = document.location.protocol;
  var sr_origin = '//' + host;
  var origin = protocol + sr_origin;
  // Allow absolute or scheme relative URLs to same origin
  return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    // or any other URL that isn't scheme relative or absolute i.e relative.
    !(/^(\/\/|http:|https:).*/.test(url));
}

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
      // Send the token to same-origin, relative URLs only.
      // Send the token only if the method warrants CSRF protection
      // Using the CSRFToken value acquired earlier
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

// end snippet from Django
///////////////////////////////////////////////////////////////////////////////

function post_positions() {
  var imagegrid = document.getElementsByClassName('imagegrid')[0];
  var pks = [];
  for (var e = imagegrid.firstChild; e != null; e = e.nextSibling) {
    if (e.nodeType == 1 && e.hasAttribute('data-pk')) {
      pks.push(e.getAttribute('data-pk'));
    }
  }
  $.post('reorder/', {'images': pks.join(',')});
}

$(function () {
  $(".imagegrid").sortable({
    'placeholder': 'placeholder',
    'stop': function (event, ui) { post_positions(); }
  });
});

function PriorityList(n) {
  this._n = n;
  this._values = new Array(n);
  this._topprio = n;
}
PriorityList.prototype.set = function PriorityList_set(priority, value) {
  this._values[priority] = value;
  this._topprio = Math.min(this._topprio, priority);
  while (this._topprio < this._n && this._values[this._topprio] == null) {
    this._topprio++;
  }
};
PriorityList.prototype.top = function PriorityList_top() {
  if (this._topprio == this._n) return null;
  else return this._values[this._topprio];
};

var currentFocus = new PriorityList(2);
$('.imagegrid li').on('mouseover', function () {
  currentFocus.set(0, this);
});
$(window).on('keypress', function (ev) {
  if (ev.charCode == 'j'.charCodeAt(0)) {
    //currentFocus.set(
  }
});
window.addEventListener('dragenter', function (event) {
  $('#dropupload').show();
}, false);
window.addEventListener('dragleave', function (event) {
  if (event.relatedTarget == null) {
    $('#dropupload').hide();
  }
}, false);
$(function () {
  var dropbox = document.getElementById('dropupload');
  dropbox.addEventListener('dragenter', function (event) {
    console.log('wat');
    event.preventDefault();
    event.stopPropagation();
  }, false);
  dropbox.addEventListener('dragleave', function (event) {
    console.log('wat');
    event.preventDefault();
    event.stopPropagation();
  }, false);
  dropbox.addEventListener('drop', function (event) {
    console.log('wat');
    event.preventDefault();
    event.stopPropagation();
    console.log(event.dataTransfer.files);
  }, false);
});
</script>
{% endblock %}
{% block content %}
<h1>{{ year }}</h1>
<h2>{{ album }}</h2>
<p><a href="{% url 'album_update' year=year.slug album=album.slug %}">Edit...</a></p>
<div id="dropupload" style="display: none">
Drag photos here to upload
</div>
<ul class="imagegrid">
{% for image in image_list %}
<li data-pk="{{ image.pk }}">
<img src="{{ image.get_image_url }}" />
</li>
{% endfor %}
</ul>
{% endblock %}
