.imagegrid {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.imagegrid li {
    margin: 0 0 8px 8px;
    padding: 0;
    list-style-type: none;
    width: 198px;
    height: 148px;
    line-height: 148px;
    float: left;
    border: 1px solid #333333;
    border-color: rgba(255,255,255, 0.2);
    background-color: #111111;
    background-color: rgba(255,255,255, 0.05);
    position: relative;
    text-align: center;
}
.imagegrid .placeholder {
    background-color: black;
    border: 3px dashed #333333;
    width: 194px;
    height: 144px;
}
.imagegrid img {
    max-width: 200px;
    max-height: 150px;
    margin: -1px;
}

.progressoverlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 200px;
    height: 150px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    line-height: 150px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
