.imagegrid {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.imagegrid li {
    margin: 0 0 8px 8px;
    padding: 0;
    list-style-type: none;
    width: 198px;
    height: 198px;
    float: left;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    position: relative;
}
.imagegrid .placeholder {
    background-color: white;
    border: 3px dashed #cccccc;
    width: 194px;
    height: 194px;
}
.imagegrid img {
    max-width: 200px;
    max-height: 200px;
    margin: -1px;
}

.progressoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.7);
    line-height: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
};
